In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [45]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-1.5.2-py3-none-win_amd64.whl (106.6 MB)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.20.3)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.7.1)
Installing collected packages: xgboost
Successfully installed xgboost-1.5.2
Note: you may need to restart the kernel to use updated packages.

In [47]:
pip install lightgbm

Collecting lightgbm
  Downloading lightgbm-3.3.2-py3-none-win_amd64.whl (1.0 MB)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from lightgbm) (1.7.1)
Requirement already satisfied: wheel in c:\programdata\anaconda3\lib\site-packages (from lightgbm) (0.37.0)
Requirement already satisfied: scikit-learn!=0.22.0 in c:\programdata\anaconda3\lib\site-packages (from lightgbm) (0.24.2)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from lightgbm) (1.20.3)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (2.2.0)
Installing collected packages: lightgbm
Successfully installed lightgbm-3.3.2
Note: you may need to restart the kernel to use updated packages.

In [5]:
#Reading the dataset

Cdf=pd.read_csv('Data_for_UCI_named.csv')

Cdf.head(5)

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [11]:
Cdf["stabf"].replace({"unstable": 0, "stable": 1}, inplace=True)
Cdf

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,0
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,1
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,0
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,0
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2.930406,9.487627,2.376523,6.187797,3.343416,-0.658054,-1.449106,-1.236256,0.601709,0.779642,0.813512,0.608385,0.023892,0
9996,3.392299,1.274827,2.954947,6.894759,4.349512,-1.663661,-0.952437,-1.733414,0.502079,0.567242,0.285880,0.366120,-0.025803,1
9997,2.364034,2.842030,8.776391,1.008906,4.299976,-1.380719,-0.943884,-1.975373,0.487838,0.986505,0.149286,0.145984,-0.031810,1
9998,9.631511,3.994398,2.757071,7.821347,2.514755,-0.966330,-0.649915,-0.898510,0.365246,0.587558,0.889118,0.818391,0.037789,0
9999,6.530527,6.781790,4.349695,8.673138,3.492807,-1.390285,-1.532193,-0.570329,0.073056,0.505441,0.378761,0.942631,0.045263,0

In [15]:
#Check the distribution of the target variables
Cdf[ 'stabf' ].value_counts()

#Where 0 is "Unstable" and 1 is "Stable"

0    6380
1    3620
Name: stabf, dtype: int64

In [16]:
#Dropping Columns not needed Asides T2 and T6

X = Cdf.drop(columns=[ 'stab' , 'stabf' ])
Y = Cdf.drop(columns=[ 'tau1' ,'tau2', 'tau3', 'tau4', 'p1', 'p2', 'p3', 'p4', 'g1', 'g2', 'g3', 'g4', 'stab' ])

In [12]:
X.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923

In [17]:
Y.head()

   stabf
0      0
1      1
2      0
3      0
4      0

In [18]:
#Importing Sklearn and training and testing datasets

from sklearn import metrics # For model evaluation
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size= 0.2, random_state= 1)

In [19]:
#Encode categorical variable i.e stable & unstable
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
y_train = encoder.fit_transform(y_train.values.ravel())
y_test = encoder.transform(y_test.values.ravel())

In [20]:
y_train.shape

(8000,)

In [21]:
y_test.shape

(2000,)

In [22]:
#Applying standard scaler
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [26]:
#ExtraTree classifier
from sklearn.ensemble import ExtraTreesClassifier
ETclassifier = ExtraTreesClassifier(random_state = 1)
ETclassifier.fit(x_train, y_train)

ExtraTreesClassifier(random_state=1)

In [27]:
ET_y_pred = ETclassifier.predict(x_test)
accuracy = accuracy_score(y_test, ET_y_pred)
print( 'Accuracy: {}' .format(accuracy))

Accuracy: 0.9285

In [29]:
from sklearn.model_selection import RandomizedSearchCV

In [56]:
#NUMBER17

ETC = ExtraTreesClassifier( random_state = 1)
ETCmodel=ETC.fit(x_train,y_train)
model_params = {
    # randomly sample numbers from 4 to 204 estimators
    'n_estimators': (4,8,100,200),
    # normally distributed max_features, with mean .25 stddev 0.1, bounded between 0 and 1
    
    #
    'min_samples_split': (0.01, 0.199,.4,.7)
}

In [58]:
cv=RandomizedSearchCV(estimator=ETCmodel,param_distributions=model_params,  random_state = 1 )
cvs=cv.fit(x_train,y_train)
y_pred=cvs.predict(x_test)
print(accuracy_score(y_test,y_pred))

0.8895

In [50]:
#NUMBER 10
#Extreme boosting model
from xgboost import XGBClassifier
xgboost_model = XGBClassifier(random_state = 1)
xgboost_model.fit(x_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[23:15:06] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=4,
              num_parallel_tree=1, predictor='auto', random_state=1,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [51]:
xgboost_model_y_pred = xgboost_model.predict(x_test)
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, xgboost_model_y_pred)
print( 'Accuracy: {}' .format(accuracy))

Accuracy: 0.9455

In [54]:
#NUMBER 11
#Random Forest model
from sklearn.ensemble import RandomForestClassifier
RFclassifier = RandomForestClassifier(random_state = 1)
RFclassifier.fit(x_train, y_train)

RandomForestClassifier(random_state=1)

In [55]:
from sklearn.metrics import accuracy_score

RF_y_pred = RFclassifier.predict(x_test)
accuracy = accuracy_score(y_test, RF_y_pred)
print( 'Accuracy: {}' .format(accuracy))

Accuracy: 0.9295

In [52]:
#NUMBER 20
#Light gradient boosting model
from lightgbm import LGBMClassifier
LGBM_model = LGBMClassifier(random_state = 1)
LGBM_model.fit(x_train, y_train)

LGBMClassifier(random_state=1)

In [53]:
LGBM_model_y_pred = LGBM_model.predict(x_test)

accuracy = accuracy_score(y_test, LGBM_model_y_pred)
print( 'Accuracy: {}' .format(accuracy))

Accuracy: 0.9395